{% extends 'base.html' %}
{% block title%}NEMSYS | Home Page{% endblock %}
{% block content %}
<div class="container mt-5 mb-5">
    <h1>Olá👻</h1>
    <hr>
    <ul>
        {% for evento in eventos %}
            <li>
                {{ evento.codigo_evento }} |
                {{ evento.nome }} |
                {{ evento.lotacao|default:0 }} |
                {{ evento.dia }} |
                {{ evento.horario }} |
                {{ evento.ingresso|default:0 }} |
                {{ evento.telefone }} |
                {{ evento.endereco }} 
            </li>
        {% empty %}
                <li>Nenhum evento cadastrado</li>
        {% endfor %}
    </ul>
</div>
{% endblock %}